@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&family=Poppins:wght@300;400;600&display=swap');
.scroll-ball {
position: absolute;
bottom: 30px;
left: 50%;
transform: translateX(-50%);
background: #ffb432;
padding: 12px 25px;
border-radius: 50px;
text-align: center;
font-weight: bold;
color: black;
}


/* SEÇÕES GERAIS */
.secao { padding: 70px; }
.sec-title {
font-family: 'Playfair Display';
font-size: 2.3rem;
margin-bottom: 25px;
}


/* SOBRE */
.sobre {
display: flex;
justify-content: space-between;
align-items: center;
}
.sobre-img {
background: #1f3b29;
width: 280px;
height: 340px;
color: white;
display: flex;
justify-content: center;
align-items: center;
}


/* BLOCOS DE CORES */
.bloco-verde { background: #1f3b29; color: white; }
.bloco-amarelo { background: #ffb432; }
.bloco-bege { background: #fff9f0; }


/* SKILLS */
.skills span {
background: #333;
color: white;
padding: 8px 15px;
border-radius: 20px;
margin-right: 10px;
display: inline-block;
}


/* IMAGENS GRANDES */
.img-grande {
width: 100%;
height: 250px;
background: #c68558;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-size: 1.2rem;
font-weight: bold;
}


/* CONTATO */
.contato { text-align: center; }


footer {
background: #222;
color: white;
padding: 20px;
text-align: center;
}