@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;600&display=swap');
padding: 50px;
background: #314e2e;
color: white;
position: relative;
}
.hero h1 {
font-size: 4rem;
font-family: 'Playfair Display';
}
.hero-img {
height: 300px;
background: #d2986a;
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
color: #fff;
}
.scroll {
position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
background: #ffb431;
padding: 10px 20px;
border-radius: 20px;
font-weight: bold;
}


/* SEÇÕES */
.secao {
padding: 60px;
}
.sobre {
display: flex;
justify-content: space-between;
align-items: center;
}
.sobre .img {
width: 300px;
height: 350px;
background: #214a35;
color: white;
display: flex;
justify-content: center;
align-items: center;
}


.verde { background: #214a35; color: white; }
.amarela { background: #ffb431; }
.clara { background: #fff8ee; }


.img-grande {
width: 100%;
height: 250px;
background: #d2986a;
display: flex;
justify-content: center;
align-items: center;
}


/* CONTATO */
.contato {
text-align: center;
}


footer {
text-align: center;
padding: 20px;
background: #222;
color: white;
}